alabaster==0.7.12
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828493937/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1598229300322/work
astropy==4.0.1.post1
attrs @ file:///tmp/build/80754af9/attrs_1598374659300/work
Babel==2.8.0
backcall==0.2.0
binaryornot==0.4.4
bleach==3.1.5
bokeh @ file:///tmp/build/80754af9/bokeh_1598903528848/work
brotlipy==0.7.0
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1598370769933/work
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
cmarkgfm==0.4.2
commonmark==0.9.1
cookiecutter==1.7.2
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1598621009452/work
cycler==0.10.0
cytoolz==0.10.1
dask @ file:///tmp/build/80754af9/dask-core_1598883329110/work
decorator==4.4.2
defusedxml==0.6.0
distributed @ file:///tmp/build/80754af9/distributed_1598883531635/work
docutils==0.16
entrypoints==0.3
fastcore @ file:///home/jhoward/anaconda3/conda-bld/fastcore_1599623531877/work
fsspec @ file:///tmp/build/80754af9/fsspec_1597944003862/work
future==0.18.2
HeapDict==1.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagesize==1.2.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446406207/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596207638929/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1598883821407/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi @ file:///tmp/build/80754af9/jedi_1598371611696/work
Jinja2==2.11.2
jinja2-time==0.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core==4.6.3
kiwisolver==1.2.0
llvmlite==0.33.0+1.g022ab0f
locket==0.2.0
MarkupSafe==1.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1597876319132/work
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
nbconvert==5.6.1
nbformat==5.0.7
notebook @ file:///tmp/build/80754af9/notebook_1596838629813/work
numba==0.50.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233721170/work
olefile==0.46
packaging==20.4
pandas @ file:///tmp/build/80754af9/pandas_1598371468004/work
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1594307295532/work
pkginfo==1.5.0.1
poyo==0.5.0
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
psutil @ file:///tmp/build/80754af9/psutil_1598370257551/work
ptyprocess==0.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1593573453419/work
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole @ file:///tmp/build/80754af9/qtconsole_1598374667791/work
QtPy==1.9.0
readme-renderer==24.0
recommonmark==0.6.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
requests-toolbelt==0.9.1
scipy @ file:///tmp/build/80754af9/scipy_1597686649129/work
Send2Trash==1.5.0
sip==4.19.13
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
Sphinx @ file:///tmp/build/80754af9/sphinx_1597428793432/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
toolz==0.10.0
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1596810128862/work
traitlets==4.3.3
twine==2.0.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
Unidecode==1.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
zict==2.0.0
zipp==3.1.0
